force-app/main/default/flows/Update_selected_Litmos_team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_selected_Litmos_Team</name>
        <label>Update selected Litmos Team</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>litmosUpdateTeam</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>teams</name>
            <value>
                <elementReference>Get_Team_that_Started_the_Flow</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <description>Updates description, team members, team leaders, and team admins</description>
    <interviewLabel>Update selected Litmos team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update selected Litmos team</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Team_that_Started_the_Flow</name>
        <label>Get Team that Started the Flow</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_selected_Litmos_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Litmos_Team__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Litmos_Id__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Team_that_Started_the_Flow</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
